body{
  height: 100v;
}
.HeaderHeading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
color:white;
font-family: 'Unbounded', cursive;
}
.Header{
  background-color: #42855B;
  padding: 40px;
}
.search-form{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  width: 40vw;
  height: 6.3vh;
  border-radius: 0px;
  border: none;
  font-size: 17px;
  border-radius: 5px;
}

.search-button{
 
  height: 6.8vh;
width: 6vw;
border: none;
border: none;
color: white;
font-size: 15px;
background: #609EA2;
border-radius: 5px;


}
.search-button:hover{
  cursor: pointer;
  background: white;
  color: #FCA61F;
  border: 2px solid #FCA61F;
  transition: .6s ease-in-out;
  

}


.recipe{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width : 600px) {
    
.search-button{
  height: 4.8vh;
width: 14vw;
font-size: 10px;
}
.search-bar{
  width: 80vw;
  height: 4.3vh;
 
}
.HeaderHeading{
  font-size: 1.5rem;
}


}